body {
  font-family:Verdana, Arial, sans-serif;
  color: #775548;
}

.links {
  color: #ef6a24;
  font-weight: 500;
}

.grande {
  font-weight: 550;
  font-size: 20px;
}

h1 {
  color: #775548;
}

h2 {
  color: #e5d7cf;
  background-color: #775548;
  font-size: 20px;
}

footer {
  height: 100px;
  background-color: black;
}

.copy {
  text-align: center;
  color: yellow;
  padding-top: 40px;
}


