body {
  font-family:Verdana, Arial, sans-serif;
  color: #775548;
}

.links {
  color: #ef6a24;
  font-weight: 500;
}

.grande {
  font-weight: 550;
  font-size: 20px;
}

h1 {
  color: #775548;
}




